.SignIn {
  display: flex;
  justify-content: center;
}

.logo {
  width: 15%;
  position: absolute;
  bottom: 25%;
  margin: 0 auto;
}

.button {
  position: absolute;
  bottom: 15%;  
  cursor: pointer;
  width: 8rem;
  padding: 0.7rem 0;
  border-radius: 54px;
  border-width: 0px;
  text-align: center;
  font-family: 'Berlin Sans FB Demi', sans-serif;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(192, 0, 0);
  transition: background-color 0.25s;
}
.button:hover {
  background-color: rgb(186, 143, 65);
}