.SearchResults {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.Tracklist {
  height: 82%;
  overflow-y: scroll;
}  

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}