.SearchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D9D9D9;
  border: 0.12rem solid #C00000;
  border-radius: 2rem;
  padding: 0.3rem 0.5rem;
  color: #C00000;
  height: 1.2rem;
}

.SearchBar input {
  width: 10rem;
  border-radius: 3px;
  border: none;
  font-size: 0.7rem;
  background-color: transparent;
  padding-left: 0.5rem;
}

.SearchBar input:focus {
  outline: none;
}

.SearchBar button {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  font-size: 0.9rem;
}
