.Playlist {
  width: 11rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 0.85rem;
  padding: 0.8rem 0.5rem;
}

.Playlist p {
  width: 100%;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.imgContainer {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 1.5rem;
  border: 0.2rem solid transparent;
  overflow: hidden;
  transition: border 0.3s linear 0.01s;
}

.imgContainer img {
  width: 100%;
  height: auto;
}

.imgContainer:hover {
  cursor: pointer; 
  border: 0.2rem solid rgb(242, 242, 242);
}

