html {
  background: url('/public/img/famsic_bg.jpg') rgba(0, 0, 0, 0.4);     
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: multiply;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
}

.Header {
  color: rgb(242, 242, 242);
  text-align: center;
  margin-bottom: 2rem;
}

.Header h1 {
  font-family: 'Bauhaus 93', sans-serif;
  font-size: 4rem;
  padding-top: 3.5rem;
  padding-bottom: 1.4rem;
}

.Header span {
  color: rgb(255, 217, 102);
}

.Header h2 {
  font-family: 'Berlin Sans FB Demi', sans-serif;
  font-size: 1.4rem;
  padding-bottom: 1.4rem;
}